* {
    background-color: lightgray;
  }
  
  .fig {
    background-color: white;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .year, h4 {
    font-weight: bold;
    text-align: center;
  }

  .year-Items {
    max-width: 500px; /* You can change this to your preferred width */
    margin: 0 auto;
    padding: 0;
  }

  figcaption {
    border: 0;
    background-color: white;
  }
  
  h2 {
    text-align: center;
  }
  
  .brief {
    text-align: center;
  }
  
  #img-div {
    display: flex;
    flex-direction: column;
  }
  
  #image {
    border: 2em;
    border-color: white;
    background-color: white;
    max-width: 100%;
    height: auto;
    display: block;
  }